footer {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    background-color: rgb(60, 57, 53);
    color: rgb(226, 201, 164);
    height: 50px;
    padding: 5px 50px;
    text-align: center;
}