

<div id="title-holder">
    <div id="title-card">
        <h2 class="title">Bienvenue à la Cantine</h2>

        <div class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, optio itaque? Enim voluptatibus ut natus incidunt consequatur maiores illo nemo necessitatibus, quia odio hic iure debitis consectetur fuga autem atque.
        </div>

        <div class="link" routerLink="/client/menu">
            Voir le menu
        </div>
    </div>
    
    <div id="accueil-backdrop">
        <!-- <img src="assets/img/cantine_title_container.jpg" width="100%" alt="la cantine" > -->
    </div>
</div>
